.site-footer {
    background-color:#FFF;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.85em;
    font-weight: 300;
    padding:5em 0 5em 0;
    margin-top:5em;
}

.site-footer .social-icons {
    margin-top: 0.5em;
}

.site-footer .social-icons a {
    display: inline-block;
    text-decoration: none;
    font-size: 2em;
    margin: 0 0.25em 0 0.25em;
    color:#666;
    border-bottom: none;
}